.bg-nav-collapse {
    background-color: white !important;
}

.p-2-ease {
    -moz-transition: padding .6s ease;
    -o-transition: padding  .6s ease;
    -webkit-transition: padding  .6s ease;
    transition: padding  .6s ease;
}

.divider-inverted {
    border-left: 2px solid rgba(0,0,0,0.4) !important;
}

.text-inverted {
    color: black !important;
}