/* ----------------------------------------------- */
/* ----------------------------------------------- */
/*                  FIX < 450px                    */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/*     Table of Content     */
/*
    - Miscellaenous
    - Navbar Adjustments
    - Sections
    - Section: Hero
    - Section: Explore/Parking
    - Section: Passive Income
*/


/* Color Palette */
    /* 
        #11998e - dark green
        #8DC26F - light green
        #38ef7d - very light green
        #00C9FF - turq blue
    */

/* Miscellaneous */
    body, html {
        font-family: 'PT Sans Narrow', sans-serif;
        height: 100%;
        margin: 0;
    }
    
    .rounded-corners {
        border-radius: 0.25rem !important;   
    }
    
    .clear-anchor {
        color: inherit !important; 
        text-decoration: none !important;
    }
    
    .very-small {
        font-size: 60% !important;
    }
    
    .b-700 {
        font-weight: 700 !important;
    }
    
/* Navbar Adjustments */ 
    .spotme img {
        height: 45px;
    }
    
    .nav-fixed {
        margin-bottom: 5em;
    }

    .main-brand {
        font-weight: 700;
        color: #fff !important;
        font-size: 30px !important;
        text-shadow: 10px 10px 10px rgba(46,61,73,0.3);
    }
    
    .nav-item {
        color: #fff !important;
    }
    
    .navbar-nav a {
        font-family: inherit;
        font-weight: 400;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased !important;
    }
    
    .navbar-nav a:hover {
        color: #eee !important;
    }

    .nav-margin-left {
        margin-left: 40px;
    }
    
    .nav-margin-right {
        margin-right: 40px;
    }
    
    .nav-divider {
        border-left: 2px solid rgba(255,255,255,0.4);
        margin: auto 40px;
        height: 1.5rem;
    }
    
    .btn-nav {
        border: none;
        background-color: #00C9FF;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.3);
        font-family: inherit !important;
        font-size: 0.875rem;
        font-weight: 400 !important;
        text-transform: uppercase;
    }
    
    .btn-nav:hover {
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,.5);
    }
    
/* Sections */
    .section-header {
        margin: 0 auto;
        color: #B06AB3;
        font-weight: 700;
    }
    
/* Section: Hero */
    #hero {
        height: 100vh;
    }

    /* Hero Background */
        .hero-bg {
            content: '';
            height: 125%;
            width: 100%;
            z-index: -1000;
            background: #11998e;  /* fallback for old browsers */
            background: -webkit-linear-gradient(top, #11998e 0%, #8DC26F 70%, rgba(255, 255, 255, 0) 100%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(top, #11998e 0%, #8DC26F 70%, rgba(255, 255, 255, 0) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            transform-origin: left bottom;
            position: absolute;
            top: 0;
            left: 0;
            webkit-transform: skew(0deg, -10deg);
            -moz-transform: skew(0deg, -10deg);
            -ms-transform: skew(0deg, -10deg);
            -o-transform: skew(0deg, -10deg);
            transform: skew(0deg, -10deg);
        }
    
    /* Hero Video */
        .hero-video {
            height: 100%;
            width: 100%;
            float: left;
            z-index: -10;
            box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.3);
            position: relative;
        }
        
        .hero-video-overlay {
            height: 100%;
            width: 100%;
            position: relative;
            z-index: -1;
            opacity: .65;
            background: #CF8BF3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(top left, #11998e, #38ef7d);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(top left, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        
        .hero-text-overlay {
            width: 100%;
            padding: 0 7rem !important;
            display: block;
            float: left;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%); /* counter top: 50% */
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            color: #fff;
        }
        
        .hero-text-sub {
            letter-spacing: 2.5px;
        }
        
    /* Hero Cards */
        .card {
            border: none !important;
        }
        
        .card h5 {
            letter-spacing: -1px;
        }
        
        .card:hover {
            box-shadow: 5px 5px 25px 0px rgba(46,61,73,.5);
        }
    
        .card-middle {
            margin: auto 0;
        }
        
        .card-padding-right {
            padding: 0 15px 0 0 !important;
        }
        
        .card-padding-left {
            padding: 0 0 0 15px;
        }
        
        .card-sub-color {
            color: #56CCF2;
            text-transform: uppercase;
            font-weight: 700 !important;
        }
        
        .card-seperator {
            margin: 1.65em 0;
        }
        
        .card-shadow { 
            box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.3);
            border-color: transparent !important;
        }
        
        .fa-card {
            color: #11998e;
            text-shadow: 5px 5px 10px rgba(46,61,73, .1);
        }
        
        #hero .card h5 {
            color: #11998e;
        }

/* Section: Explore/Parking */
    #explore {
        padding: 7em 0;
    }
    
    #explore h2, #explore h5{
        color: #8DC26F;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    #explore .fa-car {
        color: #8DC26F;
    }
    
    .fa-circle {
        color: white;
        text-shadow: 5px 5px 25px rgba(46,61,73,0.3);
    }
    
    #explore .img-explore-1 {
        height: 20em;
        z-index: 50;
        position: absolute;
        left: 20%;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.4);
    }
    
    #explore .img-explore-2 {
        height: 13em;
        z-index: 100;
        position: relative;
        top: 45%;
        left: 10%;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.4);
    }
    
    .link-container {
        text-decoration: none !important;
        color: #00C9FF !important;
    }
    
    .link-container:hover {
        color: rgb(40,40,41) !important;
    }
    
/* Section: Passive Income */

    #passive-income h2, #passive-income h5 {
        color: #8DC26F;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    #passive-income .fa-circle {
        color: #fff;
    }
    
    #passive-income .fa-usd {
        color: #8DC26F;
    }

    #passive-income {
       padding: 7em 0;
       position: relative;
    }

    /*#passive-income:before {*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    z-index: -5000;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    top: 0;*/
    /*    webkit-transform: skewY(-12deg);*/
    /*    -moz-transform: skewY(-12deg);*/
    /*    -ms-transform: skewY(-12deg);*/
    /*    -o-transform: skewY(-12deg);*/
    /*    transform: skewY(-12deg);*/
    /*    background: #f6f9fc;*/
    /*}*/
    
    #passive-income .img-explore-1 {
        height: 20em;
        z-index: 50;
        position: absolute;
        top: -10%;
        right: 20%;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.4);
    }
    
    #passive-income .img-explore-2 {
        height: 10em;
        z-index: 100;
        position: relative;
        top: 80%;
        right: -10%;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.4);
    }

/* Section: Location */

    #location {
        padding: 7em 0 10em 0;
    }
    
    #location h2, #location h5{
        color: #8DC26F;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    #location .fa-map-marker {
        color: #8DC26F;
    }
    
    #location .img-explore-1 {
        height: 20em;
        z-index: 50;
        position: absolute;
        top: -10%;

        -webkit-filter: drop-shadow(5px 5px 25px rgba(46,61,73,0.3));
        filter: drop-shadow(5px 5px 25px rgba(46,61,73,0.3));
    }

/* Section: Choose */
    #choose {
        background-color: #f6f9fc;
    }
    
    .parking h5 {
        color: #8DC26F;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    .parking .fa {
        color: #8DC26F;
    }
    
    .income h5 {
        color: #00C9FF;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    .income .fa {
        color: #00C9FF;
    }
    
/* Section: Footer */
    #footer {
        background-color: #f6f9fc;
    }
    
    .footer-hr {
        border-top: 1px solid #dbe2e8;
    }
    
    .footer-logo {
        height: 45px;
    }
    
/* @media Adjustments */
    @media screen and (max-width: 991px) {
        #hero-cards {
            margin-top: 1.65em;
        }
        
    }


    @media screen and (max-width: 800px) {
        .hero-text-overlay {
            padding: 0 1.5rem !important;
        }
        
        .small-card-i {
            width: 100px !important;
        }
        
        .small-card-t {
            width: 300px !important;
        }
        
        
    }
    
    @media screen and (max-width: 405px) {
        .hero-text-head, .hero-text-sub, .hero-text-overlay p {
            margin: 0 !important;
        }
        
        .hero-text-overlay {
            padding: 0 1rem !important;
            margin: 0 !important;
        }
        
        .small-card-i {
            width: 100px !important;
        }
        
        .small-card-t {
            width: 200px !important;
        }
    }