/*
    Color Palette
        #2A243B - dark blue
        #0F3D56 - semi dark blue
        #35918E - light blue
        #B6C8C6 - very light blue
        #EADAC5 - pale white
        
        box shadow test: 0px 30px 40px rgba(0,0,0,.1)
        
        https://dribbble.com/shots/3244105-Ventive/attachments/695568
*/

body, html {
    line-height: 1em !important;
}

.header {
    position: absolute;
    z-index: -100;
    font-size: 15vw;
    margin: .1em auto;
    opacity: .095;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -5px;
}

.header-font {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
    line-height: 1em;
    color: #EADAC5;
    text-transform: uppercase;
}

.header-font-sub {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
    line-height: 1em;
    color: #B6C8C6;
    text-transform: uppercase;
}

.p-text {
    color: #39434d;
}

/* Hero Section */

    .hero-video-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%; 
        overflow: hidden;
    }
    
    .hero-video {
        z-index: -150;
    /* Make video to at least 100% wide and tall */
        min-width: 100%; 
        min-height: 100%; 
        
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;
        
    /* Center the video */
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
    }
    
    .hero-overlay {
        background: #02CCBA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(160deg, #2A243B 0%, #35918E 100%);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(160deg, #2A243B 0%, #35918E 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: .85;
        z-index: -100;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    
    .btn-rocket {
        color: #2A243B !important;
        background-color: #EADAC5 !important;
        border: none !important;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,1);
    }
    
    .btn-rocket:hover, .btn-rocket:focus {
        border: none !important;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,.5);
        background-color: #d3c5b1 !important;
    }

    .hero-padding {
        padding-top: 13em;
    }

    #hero {
        height: 100vh;
    }
    
    .fa.fa-bars {
        color: #B6C8C6 !important;
    }

    .navbar-nav a {
        width: 100px;
        margin-left: 10px;
        color: #B6C8C6 !important;
        text-align:center;
    }
    
    .nav-name {
        font-weight: 700;
        font-size: 1.6em !important;
        font-family: 'Raleway', sans-serif;
        color: #B6C8C6 !important;
    }
    
    .nav-subname {
        font-size: 75%;
        letter-spacing: 4.5px;
        font-family: 'Raleway', sans-serif;
        color: #B6C8C6 !important;
    }
    
    @media (max-width: 991px) {
        #hero .col-adjust {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    @media (max-width: 575px) {
        #hero .col-adjust {
            padding-left: 10%;
            padding-right: 5%;
        }
    }
    
/* About Section */
    
    #about {
        padding: 6em 0;
    }
    
    .pt-about {
        padding-top: 4em;
    }
    
    .rocket-about {
        z-index: -200;
        position: absolute;
        font-size: 30em;
        top: 40%;
        left: 5%;
        opacity: .095;
    }
    
    .card-about {
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,.2);
        height: 100%;
    }
    
    .card-about:hover {
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,.3);
    }
    
    /* Hexagon Images (Forked from: https://github.com/web-tiki/responsive-grid-of-hexagons */
        
        #categories{
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
    
        #categories li{
            position:relative;
            list-style-type:none;
            width:27.85714285714286%; /* = (100-2.5) / 3.5 */
            padding-bottom: 32.16760145166612%; /* =  width /0.866 */
            float:left;
            overflow:hidden;
            visibility:hidden;
            -webkit-transform: rotate(-60deg) skewY(30deg);
            -ms-transform: rotate(-60deg) skewY(30deg);
            transform: rotate(-60deg) skewY(30deg);
        }
        
        #categories li:nth-child(3n+2){
            margin:0 1%;
        }
        
        #categories li:nth-child(6n+4){
             margin-left:0.5%;
        }
        
        #categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
            margin-top: -6.9285714285%;
            margin-bottom: -6.9285714285%;
            -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            transform: translateX(50%) rotate(-60deg) skewY(30deg);
        }
        
        #categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
             margin-bottom:0%;
        }
        
        #categories li *{
            position:absolute;
            visibility:visible;
        }
        
        #categories li > div{
            width:100%;
            height:100%;
            text-align:center;
            color:#fff;
            overflow:hidden;
            -webkit-transform: skewY(-30deg) rotate(60deg);
            -ms-transform: skewY(-30deg) rotate(60deg);
            transform: skewY(-30deg) rotate(60deg);
            -webkit-backface-visibility:hidden;
        }
    
        #categories li img{
          left:-100%; right:-100%;
          width: auto; height:100%;
          margin: 0 auto;
        }

        @media (min-width: 768px) and (max-width: 990px) {
            .rocket-about {
                top: 50%;
                left: 0;
                
            }
            
            .briefcase-project {
                left: 0% !important;
            }
            
            .handshake-contact {
                font-size: 15em !important;
            }
        }
        
        @media (min-width: 300px) and (max-width: 654px) {
            .rocket-about, .briefcase-project {
                left: 0 !important;
                font-size: 20em !important;
            }
            
            .handshake-contact {
                font-size: 15em !important;
            }
        }
        
/* Projects Section */
    
    #projects {
        padding: 6em 0;
    }
    
    .project-padding {
        padding-top: 12%;
    }
    
    .briefcase-project {
        z-index: -200;
        position: absolute;
        font-size: 20em;
        top: 55%;
        left: 40%;
        opacity: .095;
    }
    
    .card-project {
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,.3);
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .card-project:hover {
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,.5);
    }
    
    .card-project img {
        width: 100%;
    }
    
    .card-text-overlay {
        width: 100%;
        display: block;
        position: absolute;
        top: 5%;
        left: 5%;
        color: #fff;
    }
    
    .word-break {
        padding-right: 2em;
    }
    
    .card-icon-overlay {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 5%;
        right: 5%;
        color: #fff;
        direction: rtl;
    }
    
    .card-text-header {
        font-weight: 400;
    }
  
    /* Overlay Gradient Effect */
    
        .card-gradient-overlay-spotme {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #642B73;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity:.6;
        }
        
        .card-gradient-overlay-yelpcamp {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #11998e;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: .5;
        }
        
        .card-gradient-overlay-hailno {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #649173;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: .5;
        }
        
        .card-gradient-overlay-patatap {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #ee0979;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: .65;
        }
        
        .card-gradient-overlay-easycheck {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #43C6AC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: .75;
        }
        
        .card-gradient-overlay-blog {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #FF5F6D;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: .65;
        }
        
        .card-gradient-overlay-hackcu {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #00c6ff;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: .5;
        }
        
        .card-gradient-overlay-rgbgame {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #7F00FF;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: .65;
        }

/* Contact Section */

    #contact {
        padding: 6em 0 2em 0;
    }
    
    .handshake-contact {
        z-index: -200;
        position: absolute;
        font-size: 25em;
        top: 30%;
        left: 0;
        opacity: .095;
    }
    
    .clear-anchor {
        text-decoration: none !important;
        color: #2A243B;
    }
    
    .form-styling::-webkit-input-placeholder {
        font-size: 13px! important;
        color: #EEEEEE;
    }
    
    .form-styling::-moz-placeholder { /* Firefox 18- */
        font-size: 13px! important;
        color: #EEEEEE;
    }
    .form-styling::-moz-placeholder {  /* Firefox 19+ */
        font-size: 13px! important;
        color: #EEEEEE;
    }
    
    .form-styling {
        border-color: #EEEEEE !important;
    }
    
    .btn-contact {
        color: #2A243B !important;
        background-color: #EADAC5 !important;
        border: none !important;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,.2);
    }
    
    .btn-contact:hover, .btn-contact:focus {
        border: none !important;
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,.5);
    }

/* Footer */

    .fa-heart {
        color: #be1931;
    }


