body {
	font-family: Roboto;
	background-color: purple;
	background: #085078;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
	
h1 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 24px;
	padding: 10px 20px;
	color: white;
	background-color: #2980b9;
	margin: 0;
}

input {
	width: 100%;
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	background-color: #f7f7f7;
	border: 3px solid rgba(0, 0, 0, 0); /* get rid of outline and the pop with invisible border */
}

input:focus {
	border: 3px solid #2980b9;
	outline: none;
	background-color: white;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

li {
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

li:nth-of-type(2n){
	background-color: #f7f7f7;
}

span {
	background-color: #e74c3c;
	color: #fff;
	height: 40px;
	width: 0px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	opacity: 0.0;
	transition: 0.2s linear;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

.fa-plus-square {
	float: right;
}

.selected {
	text-decoration: line-through;
}

#container {
	margin: 100px auto;
	background-color: #f7f7f7;
	width: 360px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}